@charset "utf-8";

html {
    background-color: rgb(252, 250, 250);

    font-size: 62.5%;
    height: 100%;
}

body {
    position: relative;
    padding-bottom: 75px;
    min-height: 100%;
}

z h1 {
    font-size: 2em;
    margin: 0;
}

.section_inner {
    padding: 50px 10% 30px;
}


.section_inner_head_title {
    padding: 150px 10% 30px;
}

.key {
    height: 500px;
    font-family: 'Noto Serif JP', serif;
    background: center / cover no-repeat url("../imagenes/sample_key.jpg");
    font-weight: bold;
}

.key h1 {
    font-size: 2.5rem;
}

.section_title {
    font-family: 'Noto Serif JP', serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.menu_title {
    display: inline-block;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.5rem;
    color: #42210b;
    border-bottom: solid #42210b 1px;
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

.coffee_menu_image {
    width: 20%;
    border-radius: 50%;

}

.header_nav {
    background: rgba(0, 0, 0, .6);
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: stretch;
    position: fixed;
    top: 0;
    width: 100%;
}

.global_nav {
    display: flex;
    align-items: stretch;
}

.global_nav_item {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.global_nav_item:hover {
    background: #fff;
    color: #42210b;
}

.logo {
    width: 120px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
}


.concept_section {
    display: flex;

}

.concept_image img {
    width: 35%;
    height: 60%;
}

.fondo {
    background-image: url(../imagenes/sample_menu_bg.jpg);
    background-attachment: fixed;
}

.menu_list_recommended {
    padding-bottom: 50px;
}

.menu_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.menu_item {
    width: 49%;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

.menu_item_content {
    width: 45%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
}

.menu_item_title {
    font-size: 18px;
    font-family: 'Noto Serif JP', serif;
}

.menu_item_price {
    color: #42210b;
    font-size: 18px;
    text-align: right;
}

.menu_item_image {
    width: 55%;
    object-fit: cover;
    height: 300px;
}